<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WakilApp"
        android:allowBackup="true"
        android:icon="@drawable/wakil"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wakil"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".ui.home.MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.booking.HotelViewer"
            android:exported="false" />

        <activity
            android:name=".ui.booking.DraftsActivity"
            android:exported="false"
            android:label="Saved for Later"
            android:parentActivityName=".ui.home.MainActivity" />

        <activity
            android:name=".ui.home.AddPostActivity"
            android:exported="false"
            android:label="@string/add_post"
            android:parentActivityName=".ui.home.MainActivity" />

        <activity
            android:name=".ui.profile.SettingsActivity"
            android:exported="false"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.home.MainActivity" />

    </application>

</manifest>